<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.ginkgo.ginkgo</key>
		<string>Test Github Actions Adhoc</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution: Prostage Limited Liability Company (LWGNF97J5S)</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>LWGNF97J5S</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
